@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: 'poppins';
    background-color: #3E235C;  
}

section {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
}

/* Imagem de fundo */
section .imgbx {
    position: relative;
    width: 682px;
    height: 1024px;
    overflow: hidden;
}

section .imgbx ::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Container principal para o conteúdo do esqueceu senha*/
section .contentbx {
    position: relative;
    top: 54px;
    width: 100%; 
    max-width: 750px; 
    height: calc(100% - 54px); 
    padding: 0 20px; 
    box-sizing: border-box; 
    justify-content: center
}

/* Cabeçalho do formulário */

section .headerbx {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start; 
    margin-top: 70px;
    margin-bottom: 70px;
    gap: 20px;
    padding: 30px;
   
}

.headerbx h2 {
    font-size: 40px;
    color: #e6e8f0;
    margin: 0;
}

.headerbx p {
    font-size: 15px;
    color: #fff;
    margin: 0;
}

/* Estilos dos campos de entrada */
section .inputbx {
    position: relative; 
    margin-bottom: 40px; 
}

section .inputbx span {
    width: 50px;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    font-family: 'poppins';
    color: #fff;
    text-align: left;
    display: inline-flexbox;
    height: 27.4px;
}

.inputbx input {
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0) inset;
    border-radius: 8px;
    background-color: rgba(245, 245, 245, 0.26);
    border: 1px solid #d1d1d1;
    box-sizing: border-box;
    height: 58px;
    padding: 10px;
    padding-right: 40px;
    color: white;
   margin-bottom: 30px;
}

.inputbx ::placeholder{
    width: 142px;
    position: relative;
    font-size: 10px;
    line-height: 100%;
    font-weight: 300px;
    font-family: Poppins;
    color: #b4aeae;
    text-align: left;
    display: inline-block;
    font-weight: initial;
}

.inputbx input:focus {
    color: white; 
    outline: none; 
}


.inputbx i {
    position: absolute; 
    right: 40px; 
    top: 50%; 
    transform: translateY(-50%); 
    color: #a7a1a1; 
    font-size: 20px; 
    cursor: pointer;
}

/* Botão de login */
.inputbx input[type="submit"] {
    background: linear-gradient(90deg, #6a4c93, #341e4e);
    border: none;
    padding: 10px 20px;
    font-family: 'poppins';
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    font-size: 30px;
    line-height: 100%;
    color: #fff;
    text-align: center;
    font-weight: bold;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.inputbx input[type="submit"]:hover {
    background: linear-gradient(90deg, #6a4c93, #341e4e); 
    color: #fff;
    border: 2px solid #b395dc; 
    box-shadow: 0 0 15px rgba(179, 149, 237, 0.9); 
}

.inputbx input[type="button"] {
    background: linear-gradient(90deg, #6a4c93, #341e4e);
    border: none;
    padding: 10px 20px;
    font-family: 'poppins';
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    font-size: 30px;
    line-height: 100%;
    color: #fff;
    text-align: center;
    font-weight: bold;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.inputbx input[type="button"]:hover {
    background: linear-gradient(90deg, #6a4c93, #341e4e); 
    color: #fff;
    border: 2px solid #b395dc; 
    box-shadow: 0 0 15px rgba(179, 149, 237, 0.9); 
}

