@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

.global-container{
     display: flex;
     min-height: 100vh;
}

header{
    width: 100%;
    height: auto;
    background-color: #28163a;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: fixed;
    padding: 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

header .logo-sam{
    display: none;
    width: 40px;
    height: 40px;
}

header .logo-sam img{
    width: 40px;
}

header .box-search{
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;    
    width: 500px;
    min-width: 150px;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

header .box-search i{
    font-size: 20px;
    padding: 5px 0 5px 5px;
    margin-left: 10px;
    color: #616161;
}

header .box-search input{
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}


main{
    width: 100%; 
    height: auto; 
    background-color: #EBEBEB; 
    padding: 50px 20px;
    margin-top: 50px;
    margin-left: 82px;
}


main .container{
    max-width: 1440px;
    margin: 0 auto;
}

.box-title .flex-title{
    display: flex;
    align-items: center;
}

.flex-title h1{
    font-size: 45px;
    color: #3C2158;
    margin-right: 10px;
}

.flex-title img{
    width: 50px;
}

.box-title .line{
    background-color: #D8D8D9;
    width: 100%;
    height: 2px;
}

form{
    background-color: white;
    margin: 50px 0;
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

form label{
    color: white;
}

.box-inputs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box-inputs .input{
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-top: 20px; 
}

.box-inputs .input label{
    color: #28163a;
    font-weight: bold;
}

.box-inputs .input-right{
    margin-left: 20px;
}

.box-inputs .input input{
    width: 100%;
    padding: 10px 20px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0) inset;
    background-color: rgba(238, 238, 238, 0.84);
    color: #28163a;
    outline: none;
}

.box-inputs .input input::placeholder{
    color: #28163a;
}

.box-inputs .input textarea{
    padding: 10px 20px;
    /* height: 50px; */
    resize: none;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0) inset;
    background-color: rgba(238, 238, 238, 0.84);
    outline: none;
    color: #28163a;
}

.box-inputs .input textarea::placeholder{
    color: #28163a;
}

.box-inputs .input select{
    padding: 10px 20px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    background-color: #28163a;
    color: #28163a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0) inset;
    background-color: rgba(238, 238, 238, 0.84);
    outline: none;
}

.input-obser{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    outline: none;
}

.input-obser label{
    color: #28163a;
    font-weight: bold;
}

.input-obser #observacoes{
    width: 100%;
    resize: none;
    padding: 10px 20px;
    /* height: 50px; */
    border-radius: 10px;
    color: #28163a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0) inset;
    background-color: rgba(238, 238, 238, 0.84);
    border: none;
    outline: none;
}

.input-obser #observacoes::placeholder{
    color: #28163a;
}

.box-buttons{
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-buttons button{
    width: 30%;
    padding: 20px 40px;
    margin: 0 20px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.box-buttons .salvar{
    background-color: #3C2158;
    color: white;
}

.box-buttons .cancelar{
    background-color: #5a3581c4;
    color: white;
}

@media screen and (min-width:1920px){
    main .container{
        max-width: 1920px;
        margin: 0 auto;
    }
}


@media screen and (max-width:1100px){
    main{
        padding: 50px 20px;
    }
}


@media screen and (max-width:920px){

    
}

@media screen and (max-width:900px){
    
header .logo-sam{
    display: block;
    margin-right: 30px;
}

header .box-search{
    width: 70%;
}
    
    aside{
         display: none;
    }

    main{
        margin-left: 0;
    }

}

@media screen and (max-width:800px){
    .flex-title h1{
        font-size: 30px;
    }
}


@media screen and (max-width:660px){

}

@media screen and (max-width:620px){
    .flex-title{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    .flex-title .box-img{
        background-color: #3c2158b0;
        width: 80px; 
        height:80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    @keyframes float{
        0%,100%{
            transform:translatey(0)
        }
        50%{
            transform:translatey(-3px)
        }
    }
    .flex-title .box-img img {
         animation: float 2s ease-in-out infinite;
    }

    form{
        padding: 50px 10px;
    }

    
.box-inputs .input{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px; 
}

.box-inputs .input-right{
    margin-left: 0;
}

.box-buttons{
    margin-top: 30px;
    flex-direction: column;
}

.box-buttons button{
    width: 100%;
    margin: 10px 0;
}
}

@media screen and (max-width:600px){
    header{
        justify-content: space-between;
    }

}

@media screen and (max-width:600px){
    header{
        justify-content: space-around;
    }

    header .box-search{
        width: 100%;
    } 
}


@media screen and (max-width:400px){
    .flex-title h1{
        font-size: 25px;
    }
}