@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

main{
    width: 100%;
    height: auto;
    background-color: #3E235C;
}

main .container{
    width: 100%;
    height: auto;
}

main .container .flex-elements{
    display: flex;
    align-items: center;
}

main .container .flex-elements .left-img{
    width: 50%;
    min-height: 600px;
    height: 100vh;
    background-image: url(../../img/fundo.png);
    background-size: cover;
}

main .container .flex-elements .right-reset{
    width: 50%;
    height: auto;
}

.headerbx {
    margin: 50px auto;
    width: 90%;
}


.headerbx h2 {
    font-size: 40px;
    color: #e6e8f0;
    margin: 0;
    text-align: center;
}

.headerbx p {
    font-size: 13px;
    color: #fff;
    margin: 0;
    line-height: 27px;
    width: 100%;
    text-align: center;
}

main .container .flex-elements .right-reset form{
    width: 90%;
    margin: 0 auto;
}

main .container .flex-elements .right-reset form .box-input .inputbx{
    height: auto;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0) inset;
    border-radius: 8px;
    background-color: rgba(245, 245, 245, 0.26);
    margin-bottom: 30px;
    margin-top: 5px;
}

.box-input span {
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    font-family: 'poppins';
    color: #fff;
    text-align: left;
    display: inline-flexbox;
    height: 27.4px;
}



.inputbx input {
    width: calc( 100% + 200px);
    position: relative;
    border: 1px solid #d1d1d1;
    box-sizing: border-box;
    height: 58px;
    padding: 10px;
    padding-right: 40px;
    color: white;
    background-color: transparent;
    border: none;
}

.inputbx ::placeholder{
    width: 142px;
    position: relative;
    font-size: 10px;
    line-height: 100%;
    font-weight: 300px;
    font-family: Poppins;
    color: #b4aeae;
    text-align: left;
    display: inline-block;
    font-weight: initial;
}

.inputbx input:focus {
    color: white; 
    outline: none; 
}


.inputbx i {
    color: #a7a1a1; 
    font-size: 20px; 
    cursor: pointer;
    position: relative;
    left: -20px;
}



/* Botão de login */
.inputbx input[type="submit"] {
    background: linear-gradient(90deg, #6a4c93, #341e4e);
    border: none;
    padding: 10px 20px;
    font-family: 'poppins';
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    font-size: 25px;
    line-height: 100%;
    color: #fff;
    text-align: center;
    font-weight: bold;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 30px;
    width: 100%;
}

.inputbx input[type="submit"]:hover {
    background: linear-gradient(90deg, #6a4c93, #341e4e); 
    color: #fff;
    border: 2px solid #b395dc; 
    box-shadow: 0 0 15px rgba(179, 149, 237, 0.9); 
}

.inputbx input[type="button"] {
    background: linear-gradient(90deg, #6a4c93, #341e4e);
    border: none;
    padding: 10px 20px;
    font-family: 'poppins';
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    font-size: 25px;
    line-height: 100%;
    color: #fff;
    text-align: center;
    font-weight: bold;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    margin-bottom: 30px;
}

.inputbx input[type="button"]:hover {
    background: linear-gradient(90deg, #6a4c93, #341e4e); 
    color: #fff;
    border: 2px solid #b395dc; 
    box-shadow: 0 0 15px rgba(179, 149, 237, 0.9); 
}

main form .reset-senha{
    color: white;
    margin-bottom: 20px;
    font-size: 12px;
}

main form .reset-senha a{
    color: rgb(179, 149, 220);
    text-decoration: none;
    transition: 0.2s;
}

main form .reset-senha a:hover{
    color: rgb(96, 76, 126);
}

@media screen and (max-width:870px){
    main .container .flex-elements{
        display: flex;
        flex-direction: column;
    }

    main .container .flex-elements .left-img{
        width: 100%;
        min-height: 400px;
        height: 400px;
        background-position: center;
    }

    main .container .flex-elements .right-reset{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:600px){
    main .container .flex-elements{
        display: flex;
        flex-direction: column;
    }

    
.headerbx h2 {
    font-size: 30px;
    color: #e6e8f0;
    margin: 0;
}

.headerbx p {
    font-size: 14px;
    color: #fff;
    margin: 0;
}

.box-input span {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    font-family: 'poppins';
    color: #fff;
    text-align: left;
    display: inline-flexbox;
    height: 27.4px;
}

main form .reset-senha{
    font-size: 14px;
}

}


@media screen and (max-width:400px){
    #reset,#voltar{
        font-size: 20px;
    }

    .headerbx {
        width: 100%;
    }

    .headerbx h2 {
        font-size: 25px;
        color: #e6e8f0;
        margin: 0;
    }
    
    .headerbx p {
        font-size: 12px;
        color: #fff;
        margin: 0;
        line-height: 20px
    }

    main form .reset-senha{
        font-size: 12px;
    }
}

@media screen and (max-width:370px){

    #enviar,#voltar{
        font-size: 18px;
    }

    .headerbx p{
        margin-top: 10px;
        font-size: 10.5px;
    }
}