/* Estilo do calendario */

h2 {
    text-align: center;
    color: #341e4e;
    margin-top: 20px;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: auto;
}

.tablecontainer {
    width: 90%;
    margin: 20px auto;
    overflow-x: auto; /* Adiciona rolagem horizontal */
}

table {
    width: 100%; /* Ajusta a largura para 100% do contêiner */
    margin: 80px auto;
    border-collapse: collapse;
    background-color: rgb(184, 181, 181);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: none;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

th {
    background-color: #6a1b9a; /* Purple */
    color: white;
    font-size: 1.2em;
    font-weight: 500;
}

td {
    font-size: 1em;
    color: black;
}

.interval {
    background-color: #6a1b9a; /* Purple */
    font-weight: bold;
    font-size: 1.2em;
    color: white;
}

.time-slot {
    background-color: #f5f5f5; /* Light Gray */
    font-weight: bold;
    color: #333;
}

.banco-de-dados {
    background-color: #ffcc80; /* Light Orange */
}

.programacao-mobile {
    background-color: #80deea; /* Light Blue */
}

.programacao-web {
    background-color: #a5d6a7; /* Light Green */
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.5em;
    }
    table, th, td {
        font-size: 0.8em;
    }
    th, td {
        padding: 10px;
    }
}
