/* Container principal */
.cards-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Duas colunas: info-card 1fr, personal-info/password-update 2fr */
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 8px; /* Bordas arredondadas */
}

/* Card de informações (lado esquerdo) */
.info-card {
    background-color: #f7f7f7; /* Fundo do card */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Estilo da imagem de perfil e botão de upload */
.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #ddd;
}

.upload-button {
    display: flex;
    width: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #38095a; /* Cor primária suavizada */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
}

.upload-button:hover {
    background-color: #4b3767; /* Cor ao passar o mouse suavizada */
}

.upload-button::-webkit-file-upload-button {
    visibility: hidden;
}

.input {
    display: none;
}

.profile-picture h3 {
    font-size: 15px;
    margin-bottom: 15px;
    align-items: right;
    color: #341e4e;
}

/* Notificações */
.notifications {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px;
    margin-bottom: 20px;
}

.notifications h3 {
    margin-bottom: 15px;
    color: #341e4e; /* Cor do título */
}

.notifications label {
    display: block;
    margin: 10px 0 5px;
}

.notifications select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #edeef7;
    margin-bottom: 10px;
}

/* Segurança e Privacidade */
.security {
    background-color: #fff;
    border-radius: 8px;
    color: black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px;
    margin: 20px 0;
}

.security h3 {
    margin-bottom: 15px;
    color: #341e4e;
}

.security .toggle-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.security .toggle-icon {
    font-size: 24px;
    cursor: pointer;
    color: #6a4c93; /* Cor do ícone */
}

/* Lado direito: Informações pessoais e atualização de senha */
.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.personal-info,
.password-update {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.personal-info h3,
.password-update h3 {
    color: #341e4e;
    margin-bottom: 15px;
}

.personal-info label,
.password-update label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

.personal-info input,
.personal-info select,
.password-update input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #edeef7;
    margin-bottom: 10px;
}

/* Botões padrão */
.btn-padrao {
    display: inline-block;
    background: linear-gradient(135deg, #1e0442, #4b0082); /* Gradiente de cor */
    color: #fff;
    padding: 12px 100px; /* Aumenta o padding para um botão maior */
    border: none;
    border-radius: 8px; /* Bordas mais arredondadas */
    cursor: pointer;
    font-weight: 600;
    font-size: 16px; /* Aumenta o tamanho da fonte */
    margin-top: 20px;
    text-align: center; /* Centraliza o texto dentro do botão */
    margin-left: auto; /* Centraliza o botão horizontalmente */
    margin-right: auto; /* Centraliza o botão horizontalmente */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
    transition: all 0.3s ease; /* Transição suave para hover */
}

.btn-padrao:hover {
    background: linear-gradient(135deg, #4b0082, #1e0442); /* Inverte o gradiente no hover */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Aumenta a sombra no hover */
    transform: translateY(-2px); /* Eleva o botão no hover */
}

/* Media Queries para responsividade */
@media (max-width: 1024px) {
    main {
        padding: 30px 20px;
        margin-left: 0;
    }

    .cards-container {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
        padding: 10px;
    }

    .upload-button {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .upload-button {
        width: 100%;
    }

    .btn-padrao {
        padding: 12px 50px; /* Reduz o padding para botões menores */
    }
}

@media (max-width: 480px) {
    main {
        padding: 20px 10px;
    }

    .cards-container {
        padding: 10px;
    }

    .upload-button {
        width: 100%;
        padding: 10px;
        margin: 10px;
    }

    .btn-padrao {
        padding: 10px 20px; /* Reduz ainda mais o padding para botões menores */
        font-size: 14px; /* Reduz o tamanho da fonte */
    }
}
