@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

.global-container{
     display: flex;
     min-height: 100vh;
}

header{
    width: 100%;
    height: auto;
    background-color: #28163a;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: fixed;
    padding: 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

header .logo-sam{
    display: none;
    width: 40px;
    height: 40px;
}

header .logo-sam img{
    width: 40px;
}

header .box-search{
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;    
    width: 500px;
    min-width: 150px;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

header .box-search i{
    font-size: 20px;
    padding: 5px 0 5px 5px;
    margin-left: 10px;
    color: #616161;
}

header .box-search input{
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}


main{
    width: 100%; 
    height: auto; 
    background-color: #EBEBEB; 
    padding: 50px 40px;
    margin-top: 50px;
    margin-left: 82px;
}

main .container{
    max-width: 1440px;
    margin: 0 auto;
}

main .box-welcome{
    color: #3C2158;
    font-weight: bold;
    display: flex ;
    justify-content: space-between;
    align-items: center;
}

main .box-welcome h1{
    font-size: 45px;
}

main .box-welcome span{
    font-weight: normal;
}

main .box-welcome .img-welcome{
    background-image: url(../../img/home/coqui-chang-tnUp0OLSkDg-unsplash.jpg);
    background-size: cover;
    width: 125px; 
    height:125px;
    border-radius: 100%;
}

main .container .box-visao-geral{
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 70px auto 20px auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

main .box-visao-geral h2{
    color: #3C2158;
    margin-bottom: 30px;
    font-size: 30px;
    margin-left: 10px;
}

main .box-visao-geral .flex-visao-geral{
    display: flex;
    justify-content: center;
}

main .box-visao-geral .flex-visao-geral .content-visao{
    width: 33.3%;
    /* min-width: 200px; */
    height: auto;
    background-color: #3C2158;
    border-radius: 20px;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    margin: 0 10px;
    text-align: center;
    padding: 20px 10px 40px 10px;
}

main .box-visao-geral .flex-visao-geral .content-visao .box-menu{
    padding: 0 10px;
}

main .box-visao-geral .flex-visao-geral .content-visao .box-menu img:hover{
    opacity: 0.6;
}

main .box-visao-geral .flex-visao-geral .content-visao .visao-elements{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .box-visao-geral .flex-visao-geral .content-visao .visao-elements #img1{
    width: 35px;
}

main .box-visao-geral .flex-visao-geral .content-visao .visao-elements #img2,#img3{
    width: 60px;
}

main .box-visao-geral .flex-visao-geral .content-visao .visao-elements h4{
    color: white;
    font-size: 55px;
    margin-left: 10px;
}

main .box-visao-geral .flex-visao-geral .content-visao p{
    font-size: 18px;
    color: white;
}


main .box-registro{
    width: 100%;
    height: auto;
}

main .box-registro .box-flex-registro{
    display: flex;
}

main .box-registro .box-flex-registro .grafico{
    width: 30%;
    min-width: 300px;
    height: auto;
    background-color: white;
    color: #3C2158;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

main .box-registro .box-flex-registro .grafico h2{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    position: relative;
    top: -50px;
}

main .box-registro .box-flex-registro .grafico span{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    bottom: -50px;
}

main .box-registro .box-flex-registro .grafico img{
    width:60%;
    position: relative;
    right: -10px;
}


main .box-registro .box-flex-registro .registro{
    width: 80%;
    height: auto;
    background-color: white;
    margin-left: 20px;
    border-radius: 10px;
    color: #3C2158;
    padding: 20px 20px 50px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

main .box-registro .box-flex-registro .registro{
    font-size: 20px;
    font-weight: bold;
}

main .box-registro .box-flex-registro .registro h2{
    margin-bottom: 50px;
    margin-left: 20px;
}

main .box-registro .box-flex-registro table{
    width: 100%;
}


main .box-registro .box-flex-registro table,tr,th,td{
    text-align: center;
}

main .box-registro .box-flex-registro td{
    padding: 30px 0;
    color: #282649;
}

main .box-registro .line{
    border-bottom: 3px solid #E1E1E1; position: relative; bottom: -45px; border-radius: 10px;
}

@media screen and (min-width:1920px){
    main .container{
        max-width: 1920px;
        margin: 0 auto;
    }
}

@media screen and (max-width:970px){

    
/* main .box-visao-geral .flex-visao-geral .content-visao .visao-elements #img1{
    width: 25px;
}

main .box-visao-geral .flex-visao-geral .content-visao .visao-elements #img2,#img3{
    width: 50px;
}
    
main .box-visao-geral .flex-visao-geral .content-visao .visao-elements h4{
    color: white;
    font-size: 40px;
    margin-left: 10px;
}

main .box-visao-geral .flex-visao-geral .content-visao p{
    font-size: 14px;
    margin-top: 10px;
} */

}

@media screen and (max-width:1100px){
    main{
        padding: 50px 20px;
    }
}


@media screen and (max-width:920px){

    main .box-visao-geral h2{
        margin-bottom: 0;
    }

    
    main .box-visao-geral .flex-visao-geral{
        display: flex;
        flex-wrap: wrap;
    }
    
    main .box-visao-geral .flex-visao-geral .content-visao{
        width: 49%;
        /* min-width: 100px; */
        margin-top: 20px;
        flex-wrap: nowrap;
        justify-content:space-around ;
    }

    main .box-visao-geral .flex-visao-geral #content-visao01{
        margin-left: 0;
    }


    main .box-visao-geral .flex-visao-geral #content-visao02{
        margin-left: 0;
        margin-right: 0;
    }


    main .box-visao-geral .flex-visao-geral #content-visao03{
        width: 100%;
        margin: 10px 0 10px 0;
    }

    main .box-registro .box-flex-registro{
        display: flex;
        flex-wrap: wrap;
    }

    main .box-registro .box-flex-registro .grafico{
        width: 100%;
        min-width: 300px;
        height: auto;
        background-color: white;
        padding: 20px;
        margin: 20px 0;
    }
    
    main .box-registro .box-flex-registro .grafico h2{
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        position: relative;
        top: 0;
    }
    
    main .box-registro .box-flex-registro .grafico span{
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        position: relative;
        bottom: 0;
    }
    
    main .box-registro .box-flex-registro .grafico img{
        width:50%;
        position: relative;
        top: -10px;
    }
    
    
    main .box-registro .box-flex-registro .registro{
        width: 100%;
        height: auto;
        background-color: white;
        margin-left: 0;
        margin-top: 20px;
        border-radius: 10px;
        color: #3C2158;
        padding: 20px 20px 50px 20px;
    }
}

@media screen and (max-width:900px){
    
header .logo-sam{
    display: block;
    margin-right: 30px;
}

header .box-search{
    width: 70%;
}
    
    aside{
         display: none;
    }

    main{
        margin-left: 0;
    }

}

@media screen and (max-width:800px){
    
main .box-welcome h1{
    font-size: 30px;
}

main .box-welcome .img-welcome{
    background-image: url(../../img/home/coqui-chang-tnUp0OLSkDg-unsplash.jpg);
    background-size: cover;
    width: 90px; 
    height:90px;
    border-radius: 100%;
}

main .box-visao-geral h2{
    font-size: 25px;
}

#img1{
    width: 25px;
    height: 70px;
}

#img2{
    width: 50px;
    height: 60px;
}

#img3{
    width: 55px;
}

main .box-visao-geral .flex-visao-geral .content-visao .visao-elements h4{
    font-size: 40px;
}

main .box-visao-geral .flex-visao-geral .content-visao p{
    font-size: 14px;
    color: white;
}


main .box-registro .box-flex-registro .grafico h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

main .box-registro .box-flex-registro .grafico span{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

main .box-registro .box-flex-registro .grafico img{
    width:50%;
    position: relative;
    right: -10px;
}

main .box-registro .box-flex-registro .registro h2{
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 25px;
}



}


@media screen and (max-width:660px){
    main .box-visao-geral .flex-visao-geral .content-visao{
        width: 100%;
    }

    main .box-visao-geral .flex-visao-geral #content-visao01{
        margin-left: 0;
        margin-right: 0;
    }


    main .box-visao-geral .flex-visao-geral #content-visao02{
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
    }
}

@media screen and (max-width:600px){
    header{
        justify-content: space-between;
    }

    /* header .box-search{
        width: 70%;
        min-width: 150px;
    } */

    
    main .box-registro .box-flex-registro table,tr,th,td{
        text-align: center;
        font-size: 12px;
    }

    main .box-registro .box-flex-registro td{
        padding: 10px 0;
    }

    main .box-registro .line{
        border-bottom: 2px solid #E1E1E1; position: relative; bottom: -25px; border-radius: 10px;
    }

    main .box-registro .box-flex-registro .grafico{
        min-width: 200px;
    }
    
}

@media screen and (max-width:600px){
    header{
        justify-content: space-around;
    }

    header .box-search{
        width: 100%;
    } 
}


@media screen and (max-width:400px){
    main .box-welcome{
        flex-direction: column-reverse;
        text-align: center;
    }

    main .box-welcome .img-welcome{
        width: 80px; 
        height:80px;
        border-radius: 100%;
        margin-bottom: 20px;
    }
}